html {
    margin: 0;
    border: 0;
    padding: 0;
}

.menuIcon {
    right: 0;
}

.menu {
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 100;
    padding: 10px;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease, width 0.3s ease;
    
}

.menu.active {
    height: 100px;
    width: 200px;
    overflow: visible;
    opacity: 1;
    background-color: rgba(47, 40, 83, 0.589);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
