html {
	margin: 0;
	border: 0;
	padding: 0;
}

nav {
    position: fixed;      
    top: 0;               
    left: 50%;            
    transform: translateX(-50%);  
    width: 100%;          
    max-width: 800px;     
    margin: 0 auto;       
    background-color: rgba(57, 81, 104, 0.712); 
    padding: 10px;        
    z-index: 1000;        
    text-align: center;   
}

.menu-icon {
    color:rgb(0, 0, 0);
}

#menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

#menu.active {
    height: auto; 
    overflow: visible;
}
