* {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

.nav {
    position: fixed;
}

#navMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

#navLeft {
    flex-grow: 1;
    width: 20%;
    height: inherit;
}

#navMid {
    flex-grow: 1;
    width: auto;
    height: inherit;
}

#navRight {
    flex-grow: 1;
    width: 20%;
    height: inherit;
}

.menuIcon {
    right: 0;
}

.menu {
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 100;
    padding: 10px;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease, width 0.3s ease;
    
}

.menu.active {
    height: 100px;
    width: 200px;
    overflow: visible;
    opacity: 1;
    background-color: rgba(47, 40, 83, 0.589);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
