* {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 0;
    padding: 0;
}


#navMain {
    align-items: center;
    height: 50%;
    width: auto;
}

#navLeft {
    float: left;
    width: 20%;
}

#navMid {
    float: left;
    width: 60%;
}

#navRight {
    float: left;
    width: 20%;
}

/* .menuIcon {
    right: 0;
}

.menu ul li {
    display: inline;
} */

.menu {
    cursor: pointer;
    list-style: none;
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    float: right;
    top: 0;
    padding: 10px;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease, width 0.3s ease, transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.menu.active {
    height: 100px;
    width: 200px;
    overflow: visible;
    opacity: 1;
    background-color: rgba(47, 40, 83, 0.589);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
